

body {
    background:#f1f1f1; /* 仿youtube背景色 */
}

.navbar-default {
    background-color: #fff;
    border:none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

/* footer */
footer {
    margin-top: 75px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
 }

